html, body{
    padding: 0;
    margin: 0;
}

.container{
    width: 1100px;   /*contenedor*/
    margin: 0 auto;
}

.c1{
    color: #02c6ee;

}

h1, h2, h3, h4, h5, h6,
span, p, strong, a, label{
font-family: sans-serif;
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.iluminacion{
    position: relative;/* unir los dos sport*/
    width: 600px;  /* posicion del sport*/
    height: 200px;
}



.iluminacion span{
    position: absolute; /*lococar en posicion relativa los dos sport*/
    font-size: 150px;
     color: transparent;   
    -webkit-text-stroke: 3px white; /*diseño del Sport, ancho del borde*/
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%); /*centrar*/
}

 .iluminacion .back:last-child{  /*sport atras*/
        filter: blur(6px)   /*filtro sport*/
    }
    
.btn{   /* aspecto del boton*/
    background: with;
    border: 0;
    padding: 10px 48px;  /*Alto, ancho*/
    font-size: 28px;
    text-transform: uppercase; /*coloca en mayuscula el texto*/ 
    border-radius: 22px; /*borde del boton*/ 
    font-weight: bold;  /*colcar en negrita*/
    color: #3ea2d8;
   
    
}

.text-center{
    text-align: center;  /*Ayuda a centrar el parrafo del who*/
    font-size: 20px;
}

.text-right{
    text-align: center;  /*Ayuda a centrar el parrafo del tickst*/
    font-size: 20px;
}

.text-left{
    text-align: center;  /*Ayuda a centrar el parrafo del tickst*/
    font-size: 20px;
}




*,::after, ::before{        /*Ajusta el ancho de las cajas*/
    box-sizing: border-box;
}


.mb-50{
    margin-bottom: 50px;
}
.mb-80{
    margin-bottom: 80px;
}



.row{
    display: flex;
    flex-wrap:wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
 position: relative;
    width: 100%;
    height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-1{
    flex: 0 0  8.333333%;  /*Cantidad de espacio que se va a utilizar por cada cajita  100/12*/
    max-width: 8.333333%;
}
.col-2{
    flex: 0 0  16.666666%;
    max-width: 16.666666%;
}
.col-3{
    flex: 0 0  25%;
    max-width: 25%;
}
.col-4{
    flex: 0 0  33.333333%;
    max-width: 33.333333%;
    /*box-sizing: border-box;*/ /*permite ajustar las acjita para que no se desborde*/
}
.col-5{
    flex: 0 0  41.333337%;
    max-width: 41.333337%;
}
.col-6{
    flex: 0 0  50%;
    max-width: 50%;
}
.col-7{
    flex: 0 0  58.33333%;
    max-width: 58.33333%;
}
.col-8{
    flex: 0 0  66.666667%;
    max-width: 66.666667%;
}.col-9{
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10{
    flex: 0 0  83.33333%;
    max-width: 83.33333%;
}.col-11{
    flex: 0 0  91.666667%;
    max-width: 91.666667%;
}
.col-12{
    flex: 0 0  100%;
    max-width: 100%;
}



/*TICKETS*/
.col-offset-12{
    margin-left: 100%;  /*coloca a la derecha texto del tickest*/
}




.m0{
    margin: 0 !important;  /*Para la informacion en seccion nature*/
}

.pd0{
    padding: 0 !important;
}




/*
*Estilos del Menu 
*/

#navegacion-top{                  /*color de la barra de menu*/
    background-color: black;
    position: fixed; /*para que quede la bara color negro fija*/
    top: 40px; /*Posicicon superior, entre barra de menu y superior*/
    width: 100%; /*ocupa todo el tamaña de la pantalla*/
    z-index: 1;  /*Coloca la barra flotante de primeras posicion*/
   
}
#navegacion-top .wrap{
    display: flex;
    justify-content: space-between; /*ubicacion entre logo y botones*/
    height: 85px;
    align-content: center;
}

#logo img{
    display: block;
    margin: 25px;

}

nav{
    height: 100%;
}
nav ul {
   display: flex; 
}

nav ul li{
     /*Espacio entre botones*/
}

nav ul li a{
   color: #02c6ee;  /*Color texto*/
    text-transform: none;
    text-decoration: none;/*Quita lienas de ipervinvulo*/
    height: 100px;
    padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

nav ul li a:hover{
   background-color: #02c6ee;  /*Color texto al pasar el mouse*/
    color: black;
    font-weight:bold;
}

/* Estilos del Header*/

header{
    height: 1000px;              /*Tamaño del header*/
    background: url("../img/bg-header.jpg"); /*imagen*/ 
    background-size: cover; /*Ubicar mejor la imagen*/ /*Ajusta la imagen*/
    display: flex;  /*para poder utilizar el justify*/
    justify-content: center; /*Centra h2 Sport*/
    align-items: center;/*Centra h2 Sport de la parte superior*/
    padding-top: 300px;   /*distancia parte superior*/
    padding-bottom: 40px;
}

.info-header{ /*Tamaño cuadro del header*/
    width: 700px;
     text-align: center;       /*Centra el boton en el header*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-header p{  /*parrafo*/
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 78px;   /*distacia o espacio entre boton y parrafo*/
}

/* seccion who */

#who{
    background-color: black;
    padding: 150px 0;

}

#who p{
   line-height: 28px; /*Espacio renglones*/
    text-align: justify;
}

.seccion2{
    padding: 115px 0;
    background-color: #141414;
    color: white;
    height: 400px;
    text-align: justify;
    
}


/*Seccion 3*/

#seccion3{
    background: url("../img/bg-priorities.jpg");
    background-size:cover; /*Ajusta la imagen*/
    padding-top: 90px; /*hancho de la imagen*/
    padding-bottom: 1500px;
}

.cajas-priori{

    background-color: rgba(39, 39, 39 ,0.62);
    padding: 35px 40px;
    color: white;
    text-align: center;
    height: 350px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    
    
}


/*Parte final*/
#what{
    background-color: black;
    padding: 90px 0;
    height: 600px;
}

.cajas-what{
    color: white;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    
}


#mensaje{
    background-color: #141414;
    padding: 90px 0;
}

#mensaje p{
    font-size: 20px;
}


/*Seccion Nature*/

#nature{
 background-color: #000;
    height: 888px;
}

#nature img{
    width: 100%;/* para que ocupe el 50% de la pantalla*/
    display: block;
}

.info-nature{
    padding-left: 160px;
    padding-right: 40px;
    padding-top: 365px;
     
  
}

.info-nature p{
    text-align: justify;
    line-height: 24px;
}

.info-nature h2{
    font-size: 40px;
}

/*Seccion tickes*/

#tickets{
    background: url(../img/bg-buy.jpg);
    height: 737px;
    background-size: cover;
}

.info-tickets{
   color: white;
    padding-top: 70px;
}

.info-tickets h2{
 font-size: 60px;
}